* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFFFF;
  color: rgba(43,76,126,1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Глобальные стили для кнопок */
button {
  font-family: 'Montserrat', sans-serif;
}

/* Глобальные стили для полей ввода */
input {
  font-family: 'Montserrat', sans-serif;
}

/* Глобальные стили для ссылок */
a {
  text-decoration: none;
  color: inherit;
}
